<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615271044265-ocs44p7or6bs6vc0dp315md4vkrfhc1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615271044265-ocs44p7or6bs6vc0dp315md4vkrfhc1l</string>
	<key>API_KEY</key>
	<string>AIzaSyAE5hi6e5sQUSQaCDk4-yQX9UAOgbEu6cU</string>
	<key>GCM_SENDER_ID</key>
	<string>615271044265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.curd</string>
	<key>PROJECT_ID</key>
	<string>curd-3780e</string>
	<key>STORAGE_BUCKET</key>
	<string>curd-3780e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615271044265:ios:4913948719f3f6902cc5b8</string>
</dict>
</plist>